@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("./custom.scss");

:root {
  /* Font Size */
  --hero-text-font-size: 4rem;
  --large-title-font-size: 3rem;
  --title-font-size: 1.5rem;
  --price-font-size: 1.5rem;
  --subtitle-font-size: 1.125rem;
  --paragraph-font-size: 1;
  --icon-font-size: 1.5rem;
  --sm-text-font-size: 0.875rem;

  /* Box Shadow */
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5; // 24px

  // background-color: #F6F9FC;
}

a,
button,
input,
textarea {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; // Link router reset
}

img {
  vertical-align: middle;
  max-width: 100%;
}
